{"openapi":"3.1.0","info":{"title":"FTask API Documentation","description":"API documentation with JWT Authentication","version":"v1.0"},"servers":[{"url":"https://ftask.anhtudev.works","description":"Production"},{"url":"http://localhost:8080","description":"Local Development Server"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Chat","description":"Chat management APIs"},{"name":"Admin Partners","description":"Admin partner management APIs"},{"name":"Admin Bookings","description":"Admin booking management APIs"},{"name":"Admin Dashboard","description":"Admin dashboard statistics and analytics APIs"},{"name":"District","description":"APIs for Districts"},{"name":"Admin Service Catalogs","description":"Admin service catalog management APIs"},{"name":"Admin Users","description":"Admin user management APIs"},{"name":"Review","description":"Review management APIs"},{"name":"Partner","description":"APIs for Partner"},{"name":"Notification","description":"Notification management APIs"}],"paths":{"/users/update-info":{"put":{"tags":["user-controller"],"summary":"Update information","description":"Dành cho các user mới đăng nhập lần đầu","operationId":"updateInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserInfoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/service-variants/{id}":{"get":{"tags":["service-catalog-variant-controller"],"operationId":"getServiceVariantById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceVariantResponse"}}}}}},"put":{"tags":["service-catalog-variant-controller"],"operationId":"updateServiceVariant","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateServiceVariantRequest"}}},"required":true},"responses":{"302":{"description":"Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceVariantResponse"}}}}}},"delete":{"tags":["service-catalog-variant-controller"],"operationId":"deleteServiceVariant","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/service-catalogs/{id}":{"get":{"tags":["service-catalog-controller"],"operationId":"getById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceCatalogResponse"}}}}}},"put":{"tags":["service-catalog-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceCatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceCatalogResponse"}}}}}},"delete":{"tags":["service-catalog-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/reviews/{reviewId}":{"put":{"tags":["Review"],"summary":"Update review (only by review creator)","operationId":"updateReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewResponse"}}}}}},"delete":{"tags":["Review"],"summary":"Delete review (only by review creator)","operationId":"deleteReview","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/partners/districts":{"get":{"tags":["Partner"],"summary":"Get registered districts for current partner","operationId":"getRegisteredDistricts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListDistrictResponse"}}}}}},"put":{"tags":["Partner"],"summary":"Update registered districts for partner","description":"Replace all registered districts with new list","operationId":"registerDistricts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterDistrictsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/notifications/{notificationId}/read":{"put":{"tags":["Notification"],"summary":"Mark notification as read","operationId":"markAsRead","parameters":[{"name":"notificationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/notifications/read-all":{"put":{"tags":["Notification"],"summary":"Mark all notifications as read","operationId":"markAllAsRead","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/bookings/{id}":{"get":{"tags":["booking-controller"],"operationId":"getBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBookingResponse"}}}}}},"put":{"tags":["booking-controller"],"summary":"Cancel booking (customer only)","description":"Cancel ≥ 4h before start: no penalty. Cancel < 4h: 30% penalty split among claimed partners. Disallowed if any partner is working.","operationId":"cancelBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelBookingRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/users/{id}":{"get":{"tags":["Admin Users"],"summary":"Get user details","description":"Get detailed information about a specific user","operationId":"getUserById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"put":{"tags":["Admin Users"],"summary":"Update user information","description":"Admin can update user profile information","operationId":"updateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUserUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/admin/users/{id}/status":{"put":{"tags":["Admin Users"],"summary":"Update user status","description":"Admin can activate or deactivate user account","operationId":"updateUserStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"isActive","in":"query","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/users/{id}/role":{"put":{"tags":["Admin Users"],"summary":"Update user role","description":"Admin can change user role","operationId":"updateUserRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUserRoleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/service-catalogs/{id}":{"get":{"tags":["Admin Service Catalogs"],"summary":"Get service catalog details","description":"Get detailed information about a specific service catalog","operationId":"getServiceCatalogById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceCatalogResponse"}}}}}},"put":{"tags":["Admin Service Catalogs"],"summary":"Update service catalog","description":"Admin can update service catalog information","operationId":"updateServiceCatalog","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceCatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceCatalogResponse"}}}}}},"delete":{"tags":["Admin Service Catalogs"],"summary":"Delete service catalog","description":"Admin can delete service catalog","operationId":"deleteServiceCatalog","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/partners/{id}/status":{"put":{"tags":["Admin Partners"],"summary":"Update partner status","description":"Admin can update partner availability status","operationId":"updatePartnerStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPartnerStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/partners/{id}/districts":{"put":{"tags":["Admin Partners"],"summary":"Update partner districts","description":"Admin can manage partner's working districts","operationId":"updatePartnerDistricts","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPartnerDistrictsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/bookings/{id}/status":{"put":{"tags":["Admin Bookings"],"summary":"Update booking status","description":"Admin can update booking status with optional reason","operationId":"updateBookingStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminBookingStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/bookings/{id}/cancel":{"put":{"tags":["Admin Bookings"],"summary":"Admin cancel booking","description":"Admin can cancel booking with full refund to customer","operationId":"cancelBooking_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminBookingStatusUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/addresses/{id}":{"get":{"tags":["address-controller"],"summary":"Get address by id","operationId":"getById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAddressResponse"}}}}}},"put":{"tags":["address-controller"],"summary":"Update address by id","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAddressResponse"}}}}}},"delete":{"tags":["address-controller"],"summary":"Delete address by id","operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/wallets/withdrawal":{"post":{"tags":["wallet-controller"],"operationId":"withdrawal","parameters":[{"name":"amount","in":"query","required":true,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/wallets/top-up":{"post":{"tags":["wallet-controller"],"operationId":"topUp","parameters":[{"name":"amount","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"callbackUrl","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/service-variants":{"get":{"tags":["service-catalog-variant-controller"],"operationId":"getAllServiceVariant","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"serviceCatalogId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"durationHours","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"minPrice","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"maxPrice","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"isMultiPartner","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"numberOfPartners","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageServiceVariantResponse"}}}}}},"post":{"tags":["service-catalog-variant-controller"],"operationId":"createServiceVariant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateServiceVariantRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceVariantResponse"}}}}}}},"/service-catalogs":{"get":{"tags":["service-catalog-controller"],"operationId":"getAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListServiceCatalogResponse"}}}}}},"post":{"tags":["service-catalog-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceCatalogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceCatalogResponse"}}}}}}},"/reviews":{"post":{"tags":["Review"],"summary":"Create review for partner (must be completed booking)","operationId":"createReview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseReviewResponse"}}}}}}},"/payments/pay-for-booking":{"post":{"tags":["payment-controller"],"operationId":"payForBooking","parameters":[{"name":"bookingId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"callbackUrl","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/partners/bookings/{bookingId}/start":{"post":{"tags":["Partner"],"summary":"Start booking","description":"Partner starts working on a claimed booking","operationId":"startBooking","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBookingResponse"}}}}}}},"/partners/bookings/{bookingId}/complete":{"post":{"tags":["Partner"],"operationId":"completeBooking","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBookingResponse"}}}}}}},"/partners/bookings/{bookingId}/claim":{"post":{"tags":["Partner"],"operationId":"claimBooking","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBookingResponse"}}}}}}},"/partners/bookings/{bookingId}/cancel":{"post":{"tags":["Partner"],"summary":"Cancel booking claim (partner only)","description":"Partner cancels their claim. Cancel ≥ 4h before start: no penalty. Cancel < 4h: 30% penalty applied to partner. Disallowed if partner is already working.","operationId":"cancelBooking_2","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBookingResponse"}}}}}}},"/partners/bookings/start-by-qr":{"post":{"tags":["Partner"],"summary":"Start booking by QR code","description":"Partner scans QR code and starts booking. QR token must be valid and not expired. Partner must have claimed the booking.","operationId":"startBookingByQR","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScanQRCodeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBookingResponse"}}}}}}},"/notifications/test":{"post":{"tags":["Notification"],"summary":"Test send notification","operationId":"testNotification","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/bookings":{"get":{"tags":["booking-controller"],"operationId":"getBookings","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"statuses","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","enum":["WAITING_FOR_PAYMENT","PENDING","PARTIALLY_ACCEPTED","FULLY_ACCEPTED","IN_PROGRESS","COMPLETED","CANCELLED"]}}},{"name":"fromDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","example":"2025-10-30T23:59:59+07:00"},"example":"2025-10-30T23:59:59+07:00"},{"name":"toDate","in":"query","required":false,"schema":{"type":"string","format":"date-time","example":"2025-10-30T23:59:59+07:00"},"example":"2025-10-30T23:59:59+07:00"},{"name":"minPrice","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"maxPrice","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"address","in":"query","required":false,"schema":{"type":"string"}},{"name":"customerId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"partnerId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageBookingResponse"}}}}}},"post":{"tags":["booking-controller"],"operationId":"createBooking","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBookingRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBookingResponse"}}}}}}},"/bookings/{id}/insufficient-partners-response":{"post":{"tags":["booking-controller"],"summary":"Handle insufficient partners response","description":"Customer can choose to cancel (full refund) or continue (cost split among available partners) when booking has insufficient partners within 6 hours of start time.","operationId":"handleInsufficientPartnersResponse","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsufficientPartnersResponseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/bookings/{id}/chat":{"post":{"tags":["booking-controller"],"operationId":"CreateChatMessage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseChatResponse"}}}}}}},"/auth/verify-otp":{"post":{"tags":["auth-controller"],"summary":"Verify OTP","description":"Default OTP: 123456, Phone number lấy lại phone ở hàm send OTP, Role nếu là app cho người dùng thì là CUSTOMER còn app cho partner thì là PARTNER\nResponse trả về accessToken và các biến isNewUser để check và xác định màn hình tiếp theo\nNếu là new user sẽ có trả thêm user id để tiện sử dụng update thông tin","operationId":"verify","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoginResponse"}}}}}}},"/auth/send-otp":{"post":{"tags":["auth-controller"],"summary":"Send OTP to phone number","description":"Hàm này dùng để login hoặc register khi call sẽ send otp nhưng hiện tại sẽ không gửi mà dùng otp: 123456","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/admin/service-catalogs":{"get":{"tags":["Admin Service Catalogs"],"summary":"Get all service catalogs with filters","description":"Get paginated list of service catalogs with comprehensive filtering options for admin","operationId":"getAllServiceCatalogs","parameters":[{"name":"name","in":"query","required":false,"schema":{"type":"string"}},{"name":"isActive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"minPlatformFeePercent","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"maxPlatformFeePercent","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"createdFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageServiceCatalogResponse"}}}}}},"post":{"tags":["Admin Service Catalogs"],"summary":"Create service catalog","description":"Admin can create new service catalog","operationId":"createServiceCatalog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceCatalogRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseServiceCatalogResponse"}}}}}}},"/admin/bookings/{id}/refund":{"post":{"tags":["Admin Bookings"],"summary":"Admin refund booking","description":"Admin can process partial or full refund for a booking","operationId":"refundBooking","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminBookingRefundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/addresses":{"post":{"tags":["address-controller"],"summary":"Create new address for current user","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAddressResponse"}}}}}}},"/users/wallet":{"get":{"tags":["user-controller"],"operationId":"getWallet","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseWalletResponse"}}}}}}},"/users/transactions":{"get":{"tags":["user-controller"],"operationId":"getAllTransaction","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":2}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageTransactionResponse"}}}}}}},"/users/me":{"get":{"tags":["user-controller"],"summary":"Get current user's info (both partner & user can use)","operationId":"getCurrentUserInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserInfoResponse"}}}}}}},"/payments/confirm":{"get":{"tags":["payment-controller"],"operationId":"vnpayReturn","parameters":[{"name":"vnp_OrderInfo","in":"query","required":true,"schema":{"type":"string"}},{"name":"vnp_ResponseCode","in":"query","required":true,"schema":{"type":"string"}},{"name":"vnp_TransactionStatus","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/partners/{partnerId}/reviews":{"get":{"tags":["Partner"],"summary":"Get all reviews of a partner","operationId":"getPartnerReviews","parameters":[{"name":"partnerId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListReviewResponse"}}}}}}},"/partners/my-reviews":{"get":{"tags":["Partner"],"summary":"Get all reviews of current partner","operationId":"getMyReviews","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListReviewResponse"}}}}}}},"/notifications":{"get":{"tags":["Notification"],"summary":"Get all notifications of current user","operationId":"getUserNotifications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListNotificationResponse"}}}}}}},"/notifications/unread-count":{"get":{"tags":["Notification"],"summary":"Get unread notification count","operationId":"getUnreadCount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLong"}}}}}}},"/health-check":{"get":{"tags":["health-check-controller"],"operationId":"healthCheck","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringString"}}}}}}},"/districts":{"get":{"tags":["District"],"summary":"Get all available districts","description":"Public endpoint to get all districts for selection","operationId":"getAllDistricts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListDistrictResponse"}}}}}}},"/customer/addresses":{"get":{"tags":["customer-controller"],"operationId":"getAllByCustomer","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListAddressResponse"}}}}}}},"/chat/firestore":{"get":{"tags":["Chat"],"operationId":"testFirestore","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/chat/firebase/threads":{"get":{"tags":["Chat"],"operationId":"getAllChatThreadsOfCurrentUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListChatResponse"}}}}}}},"/chat/firebase/bookings/{bookingId}/receiver/{receiverId}":{"get":{"tags":["Chat"],"operationId":"getChatHistoryFromFirebase","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"receiverId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListChatResponse"}}}}}}},"/bookings/{bookingId}/qr-code":{"get":{"tags":["booking-controller"],"summary":"Generate QR code for booking","description":"Customer generates QR code token for booking. Token is valid for 1 hour. Only available for FULLY_ACCEPTED or PARTIALLY_ACCEPTED (with customer accepted) bookings.","operationId":"generateQRCode","parameters":[{"name":"bookingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseGenerateQRCodeResponse"}}}}}}},"/admin/users":{"get":{"tags":["Admin Users"],"summary":"Get all users with filters","description":"Get paginated list of users with comprehensive filtering options for admin","operationId":"getAllUsers","parameters":[{"name":"fullName","in":"query","required":false,"schema":{"type":"string"}},{"name":"phone","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"username","in":"query","required":false,"schema":{"type":"string"}},{"name":"isActive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"gender","in":"query","required":false,"schema":{"type":"string","enum":["MALE","FEMALE","UNKNOWN"]}},{"name":"roleName","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageUserResponse"}}}}}}},"/admin/partners":{"get":{"tags":["Admin Partners"],"summary":"Get all partners with filters","description":"Get paginated list of partners with comprehensive filtering options for admin","operationId":"getAllPartners","parameters":[{"name":"partnerName","in":"query","required":false,"schema":{"type":"string"}},{"name":"phone","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"isAvailable","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"isActive","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"district","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagePartnerResponse"}}}}}}},"/admin/partners/{id}":{"get":{"tags":["Admin Partners"],"summary":"Get partner details","description":"Get detailed information about a specific partner","operationId":"getPartnerById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePartnerResponse"}}}}}}},"/admin/partners/{id}/bookings":{"get":{"tags":["Admin Partners"],"summary":"Get partner's bookings","description":"Get paginated list of bookings for a specific partner","operationId":"getPartnerBookings","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageBookingResponse"}}}}}}},"/admin/dashboard/stats":{"get":{"tags":["Admin Dashboard"],"summary":"Get overall dashboard statistics","description":"Get comprehensive statistics including users, bookings, revenue, and ratings","operationId":"getOverallStats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminDashboardStatsResponse"}}}}}}},"/admin/dashboard/revenue":{"get":{"tags":["Admin Dashboard"],"summary":"Get revenue statistics","description":"Get revenue statistics with daily breakdown for specified date range","operationId":"getRevenueStats","parameters":[{"name":"fromDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminRevenueStatsResponse"}}}}}}},"/admin/dashboard/bookings-trend":{"get":{"tags":["Admin Dashboard"],"summary":"Get booking trends","description":"Get booking trends by status for specified date range and period","operationId":"getBookingsTrend","parameters":[{"name":"fromDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"period","in":"query","required":false,"schema":{"type":"string","default":"DAILY"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminBookingTrendResponse"}}}}}}},"/admin/bookings":{"get":{"tags":["Admin Bookings"],"summary":"Get all bookings with advanced filters","description":"Get paginated list of bookings with comprehensive filtering options for admin","operationId":"getAllBookings","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["WAITING_FOR_PAYMENT","PENDING","PARTIALLY_ACCEPTED","FULLY_ACCEPTED","IN_PROGRESS","COMPLETED","CANCELLED"]}},{"name":"customerId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"partnerId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"serviceCatalogId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"variantId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"customerName","in":"query","required":false,"schema":{"type":"string"}},{"name":"partnerName","in":"query","required":false,"schema":{"type":"string"}},{"name":"serviceName","in":"query","required":false,"schema":{"type":"string"}},{"name":"startDateFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"startDateTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdFrom","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"createdTo","in":"query","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"minPrice","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"maxPrice","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"district","in":"query","required":false,"schema":{"type":"string"}},{"name":"isCustomerAccepted","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string"}},{"name":"sortDirection","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageBookingResponse"}}}}}}},"/admin/bookings/{id}":{"get":{"tags":["Admin Bookings"],"summary":"Get booking details","description":"Get detailed information about a specific booking","operationId":"getBookingById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBookingResponse"}}}}}}}},"components":{"schemas":{"UpdateUserInfoRequest":{"type":"object","properties":{"gender":{"type":"string","enum":["MALE","FEMALE","UNKNOWN"]},"fcmToken":{"type":"string"},"fullName":{"type":"string"}}},"ApiResponseUserResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/UserResponse"}}},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE","UNKNOWN"]},"idCard":{"type":"string"},"fullName":{"type":"string"},"role":{"type":"string"}}},"UpdateServiceVariantRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"durationHours":{"type":"integer","format":"int32"},"pricePerVariant":{"type":"number","format":"double"},"isMultiPartner":{"type":"boolean"},"numberOfPartners":{"type":"integer","format":"int32"},"serviceCatalogId":{"type":"integer","format":"int32"}}},"ApiResponseServiceVariantResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/ServiceVariantResponse"}}},"ServiceVariantResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"durationHours":{"type":"integer","format":"int32"},"pricePerVariant":{"type":"number","format":"double"},"isMultiPartner":{"type":"boolean"},"numberOfPartners":{"type":"integer","format":"int32"}}},"ServiceCatalogRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"platformFeePercent":{"type":"number","format":"double"},"isActive":{"type":"boolean"}}},"ApiResponseServiceCatalogResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/ServiceCatalogResponse"}}},"ServiceCatalogResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"platformFeePercent":{"type":"number","format":"double"},"isActive":{"type":"boolean"}}},"UpdateReviewRequest":{"type":"object","properties":{"rating":{"type":"integer","format":"int32","maximum":5,"minimum":1},"description":{"type":"string"}},"required":["rating"]},"ApiResponseReviewResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/ReviewResponse"}}},"ReviewResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"bookingId":{"type":"integer","format":"int64"},"customerId":{"type":"integer","format":"int64"},"customerName":{"type":"string"},"partnerId":{"type":"integer","format":"int64"},"partnerName":{"type":"string"},"rating":{"type":"integer","format":"int32"},"description":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"RegisterDistrictsRequest":{"type":"object","properties":{"districtIds":{"type":"array","items":{"type":"integer","format":"int64"},"minItems":1}},"required":["districtIds"]},"ApiResponseVoid":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{}}},"CancelBookingRequest":{"type":"object","properties":{"reason":{"type":"string"}}},"AdminUserUpdateRequest":{"type":"object","properties":{"fullName":{"type":"string"},"email":{"type":"string"},"address":{"type":"string"},"gender":{"type":"string","enum":["MALE","FEMALE","UNKNOWN"]},"avatarUrl":{"type":"string"},"isActive":{"type":"boolean"}}},"AdminUserRoleUpdateRequest":{"type":"object","properties":{"roleId":{"type":"integer","format":"int64"}},"required":["roleId"]},"AdminPartnerStatusUpdateRequest":{"type":"object","properties":{"isAvailable":{"type":"boolean"}},"required":["isAvailable"]},"AdminPartnerDistrictsRequest":{"type":"object","properties":{"districtIds":{"type":"array","items":{"type":"integer","format":"int64"},"minItems":1}},"required":["districtIds"]},"AdminBookingStatusUpdateRequest":{"type":"object","properties":{"status":{"type":"string","enum":["WAITING_FOR_PAYMENT","PENDING","PARTIALLY_ACCEPTED","FULLY_ACCEPTED","IN_PROGRESS","COMPLETED","CANCELLED"]},"reason":{"type":"string"}},"required":["status"]},"AddressRequest":{"type":"object","properties":{"addressLine":{"type":"string"},"district":{"type":"string","minLength":1},"city":{"type":"string","minLength":1},"postalCode":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"isDefault":{"type":"boolean"}},"required":["city","district"]},"AddressResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"customerId":{"type":"integer","format":"int64"},"addressLine":{"type":"string"},"district":{"type":"string"},"city":{"type":"string"},"postalCode":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"isDefault":{"type":"boolean"}}},"ApiResponseAddressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/AddressResponse"}}},"ApiResponseMapStringObject":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"object","additionalProperties":{}}}},"CreateServiceVariantRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"durationHours":{"type":"integer","format":"int32"},"pricePerVariant":{"type":"number","format":"double"},"isMultiPartner":{"type":"boolean"},"numberOfPartners":{"type":"integer","format":"int32"},"serviceCatalogId":{"type":"integer","format":"int64"}},"required":["durationHours","isMultiPartner","name","numberOfPartners","pricePerVariant","serviceCatalogId"]},"ReviewRequest":{"type":"object","properties":{"bookingId":{"type":"integer","format":"int64"},"partnerId":{"type":"integer","format":"int64"},"rating":{"type":"integer","format":"int32","maximum":5,"minimum":1},"description":{"type":"string"}},"required":["bookingId","partnerId","rating"]},"ApiResponseBookingResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/BookingResponse"}}},"BookingPartnerResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"partnerEarnings":{"type":"number","format":"double"},"status":{"type":"string","enum":["JOINED","WORKING","COMPLETED","EARNED","CANCELLED"]},"cancelReason":{"type":"string"},"joinAt":{"type":"string","format":"date"},"partner":{"$ref":"#/components/schemas/PartnerResponse"}}},"BookingResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"startAt":{"type":"string","format":"date-time"},"totalPrice":{"type":"number","format":"double"},"customerNote":{"type":"string"},"requiredPartners":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["WAITING_FOR_PAYMENT","PENDING","PARTIALLY_ACCEPTED","FULLY_ACCEPTED","IN_PROGRESS","COMPLETED","CANCELLED"]},"isCustomerAccepted":{"type":"boolean","description":"    Indicates whether the customer has accepted the booking.\n    This field is only applicable when the booking status is PARTIALLY_ACCEPTED.\n"},"completedAt":{"type":"string","format":"date-time"},"customer":{"$ref":"#/components/schemas/CustomerResponse"},"variant":{"$ref":"#/components/schemas/ServiceVariantResponse"},"address":{"$ref":"#/components/schemas/AddressResponse"},"method":{"type":"string","enum":["WALLET","CASH"]},"numberOfJoinedPartner":{"type":"integer","format":"int32"},"partners":{"type":"array","items":{"$ref":"#/components/schemas/BookingPartnerResponse"},"uniqueItems":true}}},"CustomerResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"addresses":{"type":"array","items":{"$ref":"#/components/schemas/AddressResponse"}},"user":{"$ref":"#/components/schemas/UserResponse"}}},"DistrictResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"city":{"type":"string"},"code":{"type":"string"}}},"PartnerResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"averageRating":{"type":"number","format":"double"},"totalJobsCompleted":{"type":"integer","format":"int32"},"isAvailable":{"type":"boolean"},"districts":{"type":"array","items":{"$ref":"#/components/schemas/DistrictResponse"}},"user":{"$ref":"#/components/schemas/UserResponse"}}},"ScanQRCodeRequest":{"type":"object","properties":{"qrToken":{"type":"string"}}},"CreateBookingRequest":{"type":"object","properties":{"variantId":{"type":"integer","format":"int64"},"addressId":{"type":"integer","format":"int64"},"startAt":{"type":"string","format":"date-time"},"customerNote":{"type":"string"},"method":{"type":"string","enum":["WALLET","CASH"]}}},"InsufficientPartnersResponseRequest":{"type":"object","properties":{"cancel":{"type":"boolean"}}},"ChatRequest":{"type":"object","properties":{"message":{"type":"string"},"receiverId":{"type":"integer","format":"int64"}}},"ApiResponseChatResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/ChatResponse"}}},"ChatResponse":{"type":"object","properties":{"roomName":{"type":"string"},"messageContent":{"type":"string"},"bookingId":{"type":"integer","format":"int64"},"sender":{"$ref":"#/components/schemas/UserResponse"},"receiver":{"$ref":"#/components/schemas/UserResponse"},"read":{"type":"boolean"}}},"VerifyOtpRequest":{"type":"object","properties":{"phone":{"type":"string","minLength":1},"otp":{"type":"string"},"role":{"type":"string"}},"required":["phone"]},"ApiResponseLoginResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/LoginResponse"}}},"LoginResponse":{"type":"object","properties":{"accessToken":{"type":"string"},"userId":{"type":"integer","format":"int64"},"newUser":{"type":"boolean"}}},"RegisterRequest":{"type":"object","properties":{"phone":{"type":"string","minLength":1}},"required":["phone"]},"AdminBookingRefundRequest":{"type":"object","properties":{"refundAmount":{"type":"number","format":"double","minimum":0.0},"reason":{"type":"string"}},"required":["refundAmount"]},"ApiResponseWalletResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/WalletResponse"}}},"WalletResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"balance":{"type":"number","format":"double"},"totalEarned":{"type":"number","format":"double"},"totalWithdrawn":{"type":"number","format":"double"},"user":{"$ref":"#/components/schemas/UserResponse"}}},"ApiResponsePageTransactionResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageTransactionResponse"}}},"PageTransactionResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/SortObject"},"number":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/TransactionResponse"}},"size":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"unpaged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"pageSize":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"offset":{"type":"integer","format":"int64"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"},"empty":{"type":"boolean"}}},"TransactionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["EARNING","WITHDRAWAL","ADJUSTMENT","REFUND","PLATFORM_FEE","TOP_UP","FINE"]},"amount":{"type":"number","format":"double"},"balanceBefore":{"type":"number","format":"double"},"balanceAfter":{"type":"number","format":"double"},"description":{"type":"string"},"status":{"type":"string","enum":["PENDING","COMPLETED","FAILED"]},"user":{"$ref":"#/components/schemas/UserResponse"}}},"ApiResponseUserInfoResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/UserInfoResponse"}}},"UserInfoResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"fullName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"avatarUrl":{"type":"string"},"role":{"type":"string"},"partnerId":{"type":"integer","format":"int64"},"averageRating":{"type":"number","format":"double"},"totalJobsCompleted":{"type":"integer","format":"int32"},"customerId":{"type":"integer","format":"int64"}}},"ApiResponsePageServiceVariantResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageServiceVariantResponse"}}},"PageServiceVariantResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/SortObject"},"number":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ServiceVariantResponse"}},"size":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"ApiResponseListServiceCatalogResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/ServiceCatalogResponse"}}}},"ApiResponseListReviewResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/ReviewResponse"}}}},"ApiResponseListDistrictResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/DistrictResponse"}}}},"ApiResponseListNotificationResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponse"}}}},"NotificationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"bookingId":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["JOB_ACCEPTED","JOB_STARTED","JOB_COMPLETED","NEW_JOB_AVAILABLE","PAYMENT_SUCCESS","PAYMENT_FAILED","PAYMENT_CREATED","PARTNER_CANCELLED_CLAIM","EARNING_RECEIVED","REVIEW_RECEIVED","BOOKING_CREATED","INSUFFICIENT_PARTNERS_WARNING","BOOKING_STATUS_UPDATED","REFUND_PROCESSED"]},"title":{"type":"string"},"message":{"type":"string"},"isRead":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponseLong":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"integer","format":"int64"}}},"ApiResponseMapStringString":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"object","additionalProperties":{"type":"string"}}}},"ApiResponseListAddressResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/AddressResponse"}}}},"ApiResponseListChatResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"type":"array","items":{"$ref":"#/components/schemas/ChatResponse"}}}},"ApiResponsePageBookingResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageBookingResponse"}}},"PageBookingResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/SortObject"},"number":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/BookingResponse"}},"size":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"ApiResponseGenerateQRCodeResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/GenerateQRCodeResponse"}}},"GenerateQRCodeResponse":{"type":"object","properties":{"qrToken":{"type":"string"}}},"ApiResponsePageUserResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageUserResponse"}}},"PageUserResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/SortObject"},"number":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/UserResponse"}},"size":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"ApiResponsePageServiceCatalogResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PageServiceCatalogResponse"}}},"PageServiceCatalogResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/SortObject"},"number":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ServiceCatalogResponse"}},"size":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"ApiResponsePagePartnerResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PagePartnerResponse"}}},"PagePartnerResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"sort":{"$ref":"#/components/schemas/SortObject"},"number":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/PartnerResponse"}},"size":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"ApiResponsePartnerResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/PartnerResponse"}}},"AdminDashboardStatsResponse":{"type":"object","properties":{"totalUsers":{"type":"integer","format":"int64"},"totalCustomers":{"type":"integer","format":"int64"},"totalPartners":{"type":"integer","format":"int64"},"totalBookings":{"type":"integer","format":"int64"},"totalCompletedBookings":{"type":"integer","format":"int64"},"totalCancelledBookings":{"type":"integer","format":"int64"},"totalPendingBookings":{"type":"integer","format":"int64"},"totalServiceCatalogs":{"type":"integer","format":"int64"},"totalServiceVariants":{"type":"integer","format":"int64"},"totalReviews":{"type":"integer","format":"int64"},"totalRevenue":{"type":"number","format":"double"},"totalPlatformFee":{"type":"number","format":"double"},"averageRating":{"type":"number","format":"double"}}},"ApiResponseAdminDashboardStatsResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/AdminDashboardStatsResponse"}}},"AdminRevenueStatsResponse":{"type":"object","properties":{"totalRevenue":{"type":"number","format":"double"},"totalPlatformFee":{"type":"number","format":"double"},"fromDate":{"type":"string","format":"date"},"toDate":{"type":"string","format":"date"},"dailyStats":{"type":"array","items":{"$ref":"#/components/schemas/DailyRevenueStats"}}}},"ApiResponseAdminRevenueStatsResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/AdminRevenueStatsResponse"}}},"DailyRevenueStats":{"type":"object","properties":{"date":{"type":"string","format":"date"},"revenue":{"type":"number","format":"double"},"platformFee":{"type":"number","format":"double"},"bookingCount":{"type":"integer","format":"int64"}}},"AdminBookingTrendResponse":{"type":"object","properties":{"fromDate":{"type":"string","format":"date"},"toDate":{"type":"string","format":"date"},"period":{"type":"string"},"trendData":{"type":"array","items":{"$ref":"#/components/schemas/BookingTrendData"}}}},"ApiResponseAdminBookingTrendResponse":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"result":{"$ref":"#/components/schemas/AdminBookingTrendResponse"}}},"BookingTrendData":{"type":"object","properties":{"date":{"type":"string","format":"date"},"totalBookings":{"type":"integer","format":"int64"},"completedBookings":{"type":"integer","format":"int64"},"cancelledBookings":{"type":"integer","format":"int64"},"pendingBookings":{"type":"integer","format":"int64"}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}